DJANGO_DEBUG=false
DJANGO_SECRET_KEY=REPLACE_WITH_A_LONG_RANDOM_VALUE
DJANGO_ALLOWED_HOSTS=mycamino.heinofalcke.de,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://mycamino.heinofalcke.de
DJANGO_DATABASE_PATH=/data/db.sqlite3
PUBLIC_BASE_URL=https://mycamino.heinofalcke.de
MYCAMINO_DOCS_ROOT=/app/docs
MYCAMINO_LEGAL_CONFIG_REQUIRED=true
MYCAMINO_OPERATOR_NAME=REPLACE_WITH_OPERATOR_NAME
MYCAMINO_OPERATOR_ADDRESS=REPLACE_WITH_POSTAL_ADDRESS
MYCAMINO_OPERATOR_EMAIL=mycamino@heinofalcke.de
FORM_IP_SALT=REPLACE_WITH_A_SEPARATE_RANDOM_VALUE
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.strato.de
EMAIL_PORT=587
EMAIL_HOST_USER=mycamino@heinofalcke.de
EMAIL_HOST_PASSWORD=REPLACE_WITH_SMTP_PASSWORD
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=myCamino <mycamino@heinofalcke.de>
CONTACT_RECIPIENT=mycamino@heinofalcke.de
